<div class="col-md-12">
  <div class="error-template">
      <h3>Oops!</h3>
      <h2>404 - Not Found</h2>
      <img src="assets/imagenes/404.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="Pagina no encontrada">
      <div class="error-details mb-3">
          <label>La pagina a la que quiere acceder ya no existe... o nunca existio!!</label>
      </div>
      <div class="error-actions">
        <a class="nav-link" [routerLink]="['/Inicio-Anime']">Animes</a>
      </div>
  </div>
</div>
