<footer class="footer-1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        Ayuda
        <ul class="list-group">
          <li class="list-group">
            Sobre BibliotecaOtaca
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fas fa-user-plus bg-r-icon"></i> Unete
        <p>Unete para hacer uso de todas nuestras funciones.</p>
        <a class="btn btn-success" target="_blank">Registrate</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        Contactanos
        <ul class="list-group bg-dark">
          <li class="list-group-item list-group-item-action">
            <i class="fas fa-address-card bg-e-icon"></i>jacz_juan@hotmail.com
          </li>
          <li class="list-group-item list-group-item-action">
            <i class="fab fa-facebook bg-f-icon"></i>Facebook
          </li>
          <li class="list-group-item list-group-item-action">
            <i class="fab fa-youtube-square bg-y-icon"></i> Youtube
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Biblioteca Otaca ©2016. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
